<html>
  <head>
    <title>{{title}} - {{site.my_name}}</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
    
    {% include header %}
    
    {% if title == "home" %}
    <div class='reactivename'>
      <h1 class='reactivenameh'><i>TOM LYNCH</i></h1>
    </div>
    {% endif %}

    <div class = "about">
      {{ content }}
    </div>

    {% include footer %}


  </body>
</html>