<html>
  <head>
    <title>{{title}} - {{site.my_name}}</title>
    <link rel="stylesheet" href="/css/basic.css">
    <!-- <link rel="stylesheet" href="/css/index.css"> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179723365-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179723365-1');
    </script>

  </head>
  <body>
    
    {% include header %}
    
    {% if title == "home" %}
      <div class='reactivename'>
        <h1 class='reactivename_text'><i>TOM LYNCH</i></h1>
      </div>
    {% endif %}
    
    <article>
        {{ content }}
    </article>

    {% include footer %}

  </body>
</html>