<html>
  <head>
    <title>{{title}} - {{site.my_name}}</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>
  	
  	{% include header %}


    {{ content }}


    {% include footer %}


  </body>
</html>