<form name="contact" method="POST" data-netlify="true">
    <input name="name" type="text" class="form-input" placeholder="Name" />   
    <input name="email" type="email" class="form-input" placeholder="Email" />
    <textarea name="text" class="form-input" placeholder="Message"></textarea>
    <input type="submit" value="Send message"/>
</form>