<form name="contact" method="POST" data-netlify="true">
    <input name="name" type="text" class="form-input" placeholder="Name" required/>   
    <input name="email" type="email" class="form-input" placeholder="Email" required/>
    <textarea name="text" class="form-input" placeholder="Message" required></textarea>
    <input type="submit" value="Submit nostalgia"/>
</form>