<div class="menu">
	<ul>
		{% assign menuitems = collections.menu | sortByOrder %}
		{% for item in menuitems %}
			<li><a href="{{item.url}}">{{item.data.title | capitalize }}</a></li>
		{% endfor %}
	</ul>
</div>