<ul class="postlist">

{% assign blogposts = collections.blog %}
{% if env.isProd %}
{% assign blogposts = collections.blog | removeUnpublished %}
{% endif %}

{% for item in blogposts reversed  %}
<li class="postlist">
    <h2 class="postlist">
        <a href="{{item.url}}">{{item.data.title | capitalize }}</a>
    </h2>
    <div class="date">
        <time>{{item.date | postDate}}</time>
    </div>
    <div>
        {{item.data.blurb}}
    </div>
</li>
{% endfor %}
</ul>

