<div class='socials_list'>
{% social_link "https://github.com/tomglynch", "github" %}
{% social_link "https://twitter.com/lynchyeatspizza", "twitter" %}
{% social_link "https://www.linkedin.com/in/tomglynch/", "linkedin" %}
{% social_link "https://news.ycombinator.com/user?id=tomglynch", "y-combinator" %}
{% social_link "../files/TomLynchResume1Page.pdf", "file" %}
{% social_link "../files/TomLynchResume2Page.pdf", "file-text" %}
</div>