<div class='socials_list'>
{% social_link "https://github.com/tomglynch", "github" %}
{% social_link "https://www.linkedin.com/in/tomglynch/", "linkedin" %}
{% social_link "https://news.ycombinator.com/user?id=tomglynch", "y-combinator" %}
 resumes: {% social_link "/about/resume", "globe" %}
{% social_link "/files/TomLynchResume2025.pdf", "file-pdf-o" %}
</div>