<form name="subscribe" method="POST" data-netlify="true">
    <p>
        <label>Your Email: <input type="email" name="email" /></label>
    </p>
    <p>
        <input type="submit" value="Subscribe">
    </p>
</form>
