
  

/* GENERAL STYLING */
html, body {
  margin: 0;
  padding: 0;
  line-height: 1.58;
  /* background-color:#121d5a; */
  font-family: 'Avenir', sans-serif;
  font-size: 21px;
  color: white;
}

a {
  color:white;
  }

a:hover {
  color: #fbcd1b;
  }

/* MENU STUFF */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbcd1b;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: #121d5a;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #121d5a;
  color: #fbcd1b;
}


/* REACTIVE NAME */
.reactivename {
  padding-top: 10px;
  padding-bottom: 38px;
  }

.reactivename:hover {
  background-color: #fbcd1b;
  }

h1.reactivename_text {
  color: #FFFFFF;
  text-shadow: 1px 1px #121d5a, 2px 2px #121d5a, 3px 3px #121d5a, 4px 4px #121d5a, 5px 5px #121d5a, 6px 6px #121d5a, 7px 7px #121d5a, 8px 8px #121d5a, 9px 9px #121d5a, 10px 10px #121d5a, 11px 11px #121d5a, 12px 12px #121d5a, 13px 13px #121d5a;
  font-weight: 900;
  -webkit-text-stroke: 1.5px #121d5a;
  text-align: center;
  font-size: 3em;
  }


/* ARTICLE */

article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  text-shadow: 1px 1px #121d5a;
  }
  
article > * {
  /* basic.css */
  min-width: 0;
  
  /* index.css */
  grid-column: 4;

}

article > p {    
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  letter-spacing: -.003em;
}


/* article > figure {
grid-column: 1 / -1;
margin: 20px 0;
} */

/* article > blockquote {
grid-column: 3 / span 2;
margin: 0px 0;
color: #666;
border-left: 3px solid black;
padding-left: 10px;
} */




/* basic.css */




/* img {
  width: 100%;
} */

/* .line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
} */

/* code {
    background: #eee;
    padding: 2px 5px;
} */

/* pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
} */

/* pre > code {
    padding: 0;
} */

/* figure {
    margin: 0;
} */

/* figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
} */